.header__logo{
  width: 142px;
  height: 33px;
  background-size: 142px 33px;
  background-image: url(../../../images/logo.svg);
  transition: opacity 0.5s ease-in-out;
}
.header__logo:hover{
  opacity: 0;
  
}
@media (max-width: 400px){
  .header__logo {
    width: 103px;
    height: 24.4px;
    margin-left:27px;
    background-size: 103px 24.4px;
  }
}
