.elements__restangle{
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 52px;
  grid-template-rows: minmax(min-content, max-content) 54px;
  grid-template-areas:
    "image image"
    "title logo";
  row-gap: 25px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}  
